*{margin:0;padding:0}

.main
{
margin:0 auto;
width:760px;
background:#abcdef;
padding-top:40px;
height:350px;
}
.a1{float:left;
padding-left:80px}
.b1{float:right;
padding-left:5px;
font-family:Candara;
font-size:10px}

.a2{float:left;
margin-left:30px}
.b2{float:right;
padding-left:5px}

.a3{float:left;
padding-left:80px;
padding-top:10px;}
.b3{float:right;
padding-left:32px}

.a4{float:left;
margin-left:30px;
padding-lft:5px;
padding-top:10px}

.b5{float:right;
padding-left:13px}


.a6{float:left;
padding-left:80px;
padding-top:10px}
.b6{float:right;
padding-top:3px;
padding-left:10px}

.a7{float:left;
padding-top:10px;
padding-left:30px}
.b7{float:right;
padding-left:10px
}
.b8{float:right;
padding-left:10px}

.b9{float:right;
padding-left:8px}

.a8{float:left;
padding-left:85px;
padding-right:100px;
padding-top:10px}
.b10{float:left;
padding-left:75px;
padding-top:5px;
}

.a9{float:right;
margin-left:600px;
padding-right:548px;
padding-top:7px;}

.footer{
margin:0px 400px;
border-radius:10px;
background:#ABCDEF;
font-size:25px;
font-family:Gill Sans MT Condensed;
color:#5022BD}





